<div id="<%= dom_id president %>">
  <p>
    <strong>Name:</strong>
    <%= president.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= president.comment %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= president.image_url %>
  </p>
  
    <img src="<%= president.image_url %>" width="500" height="700" alt=""/>


</div>
